.logo{
    border-radius: 50%;
    border: 5px solid white;
}

.header{
    padding: 5px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.btn-centered{
    display:block;text-align:center
}

.main-card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.main-body-1{
    background-color: #ffffff;
}
.main-body-2{
    background-color: #191AA8;
    color: white;
}
.main-body-3{
    background-color: #B93B85;
}
.bg-mb-3{
    background-color: #B93B85;
    border: 20px;
}
.main-body-4{
    background-color: #FFFFFF;
}
.drg-bg-black{
    background-color: black;
}
.reasons {
    display: flex;
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
}
.reasons>*{
    flex: 0 50%;
}
.players {
    display: flex;
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
    padding: 10px 0;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tdn{
    text-decoration: none;
}
.logo-user{
    border-radius: 500px;
    border: 5px solid #191AA8;
}
.link-center{
    display:block;text-align:center
}